version: 2

references:
  build_and_push: &build_and_push
    docker:
      - image: circleci/ruby:2.5.3-node-browsers
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Setup AWS environment
          command: |
            sudo apt-get --assume-yes install python3-pip
            sudo pip3 install awscli
            $(aws ecr get-login --no-include-email)
      - run:
          name: Build docker image
          command: docker build -t app .
      - run:
          name: Push image to ECR repo
          command: |
            docker tag app "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}"
            docker push "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}"
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker tag app "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:latest"
              docker push "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:latest"
            fi
            if [ ! -z "${CIRCLE_TAG}" ]; then
              echo "Pushing release ${CIRCLE_TAG}"
              docker tag app "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_TAG}"
              docker push "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_TAG}"
            fi

jobs:
  build:
    <<: *build_and_push

  push:
    <<: *build_and_push

workflows:
  version: 2
  build-n-push:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - push:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
